<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson 8 - Web Vulnerabilities and Defenses</title>
    <style>
        button {
            margin: 50vh auto;
            display: block;
            background: red;
            color: #fff;
            border: none;
            cursor: pointer;
            height: 50px;
            padding: 0 15px;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <button onclick="greeting()">Click Me</button>
</body>

<script>
    function greeting() {
      alert("Hey there!");
    }
</script>
</html>
